
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meng</title>
</head>
<body>
    <div> 
      <h1>welcome</h1>

    </div> 

    <div>
       tr5gy6ujhn8i7uytbgu7

    </div> 

</body>
</html>
